# Primero negamos el acceso o navegación a todos
Require all denied

# Enlistar las ip del lab
Require ip 10.90.30.217
Require ip 10.90.30.218
Require ip 10.90.30.219

# Otras IP (VPN)
Require ip 100.91.96.84
Require ip 100.72.162.75

# Esta restricción es para permitir cargar archivos que sean menores a 20MByte
php_value upload_max_filesize 20M